<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="win.regin.common">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <provider
                android:name=".MvvmHubProvider"
                android:authorities="${applicationId}.mvvm.hub.provider"
                android:exported="false"
                android:grantUriPermissions="true" />
    </application>
</manifest>